.user_one
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    background: lightgray;
    border-radius: 8px 8px 8px 8px;
    margin: 5px 10px 10px 10px;
    margin-top: 40%;
    padding: 5px 10px 15px 10px;
}
.user_one img
{
    border-radius: 50%;
}
.user_one .contents
{
    margin-top: 30px;
}